* {
    margin: 0;
    box-sizing: border-box;
}


body {
    min-height: 200vh;
    font-family: 'Courier New', Courier, monospace;
}

.main {
    height: 600px;
    background-image: url('https://midu.dev/images/wallpapers/una-taza-de-javascript.png');
    background-size: cover;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(1deg);
}

.title {
    font-size: 3rem;
}

.fixed {
    /* inset: 20%;*/
    top: 0;
    position: fixed;
    background-color: black;
    font-size: 2rem;
    display: grid;
    place-items: center;
    text-align: center;

}